<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span th:text="#{title}"></span>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a data-toggle="modal" href="#transliterations-modal" th:text="#{translitTitle}"></a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#about-modal" th:text="#{aboutTitle}"></a>
                        </li>
                        <li>
                            <a th:href="#{languageSwitchUrl}" th:text="#{languageSwitchTitle}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>