<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <div th:fragment="searchWord">
        <form class="form-horizontal"
              action="#"
              th:action="@{/word}"
              method="GET">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           id="wordSearch"
                           name="expression"
                           th:placeholder="#{searchWord}"
                           required="required"
                           autofocus="autofocus" />
                    <span class="input-group-addon" th:text="#{method} + ':'"></span>
                    <select class="form-control" id="selectWord" title="" name="method">
                        <option value="anywhere" selected="selected" th:text="#{searchAnywhere}"></option>
                        <option value="wholeWord" th:text="#{searchWhole}"></option>
                        <option value="startsWith" th:text="#{searchStartsWith}"></option>
                        <option value="endsWith" th:text="#{searchEndsWith}"></option>
                    </select>
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" th:text="#{searchButton}"></button>
                        </span>
                </div>
                <span class="help-block small" th:text="#{searchWordHelp}"></span>
            </div>
        </form>
    </div>
</body>
</html>