<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="http://bootswatch.com/cerulean/bootstrap.min.css"/>


    <title>Mongolian - Hungarian dictionary</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongolian - Hungarian dictionary</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/importDictionary" class="btn pull-right">Import dictionary</a></li>
        </ul>
    </div>
</nav>

<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal"
          action="#"
          th:action="@{/word-search}"
          method="GET">
        <div class="form-group">
            <legend>search here</legend>
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="wordSearch"
                       name="expression"
                       placeholder="search in Mongolian words"
                       required="required"
                       autofocus="autofocus" />
                <span class="input-group-addon">where:</span>
                <select class="form-control" id="select" title="" name="searchMethod">
                    <option value="anywhere" selected="selected">anywhere</option>
                    <option value="whole">the whole word</option>
                    <option value="beginning">at the beginning of the word</option>
                    <option value="end">at the end of the word</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">search</button>
                </span>
            </div>
            <span class="help-block">(Mongolian Cyrillic or transliteration - scientific or Hungarian)</span>
        </div>
    </form>
    <form class="form-horizontal"
          action="#"
          th:action="@{/description-search}"
          method="GET">
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="descriptionSearch"
                       name="expression"
                       placeholder="search in description"
                       required="required"
                       autofocus="autofocus" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">search</button>
                </span>
            </div>
            <span class="help-block">(Hungarian or Mongolian Cyrillic)</span>
        </div>
    </form>

    <a class="pull-right" href="http://www.lexilogos.com/keyboard/mongolian.htm" target="_blank">
        Don't have a Mongolian keyboard? Try this one! :)
    </a>

</div>

<div class="list-group col-md-6 col-md-offset-3">
    <legend th:text="'results for: ' + ${expression}"> </legend>
    <div class="list-group-item" th:if="${entries.isEmpty()}">
        <h4 class="list-group-item-heading">no result</h4>
        <p class="list-group-item-text">sorry, we found no entry with the requested keyword in the database</p>
    </div>
    <div class="list-group-item" th:each="entry : ${entries}">
        <h4 class="list-group-item-heading" th:text="${entry.getWord()}"></h4>
        <p class="list-group-item-text" th:text="${entry.getDescription()}"></p>
    </div>
    <a class="pull-right" href="/">get a random word</a>
</div>
</body>
</html>