<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="mongolia.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="bootstrap.min.css"/>

    <title th:text="#{title}"></title>
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span th:text="#{title}"></span> <small th:text="#{titleDemoVersion}"></small></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="#{languageSwitchUrl}" th:text="#{languageSwitchTitle}"></a>
                </li>
                <li>
                    <a href="https://goo.gl/kb8YR1">
                        <img src="github-9-24.png" alt="github"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /navbar -->

<!-- content -->
<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <!-- search form -->
    <div>
        <form class="form-horizontal"
              action="#"
              th:action="@{/word-search}"
              method="GET">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           id="wordSearch"
                           name="expression"
                           th:placeholder="#{searchWord}"
                           required="required"
                           autofocus="autofocus" />
                    <span class="input-group-addon" th:text="#{searchWhere} + ':'"></span>
                    <select class="form-control" id="select" title="" name="searchMethod">
                        <option value="anywhere" selected="selected" th:text="#{searchAnywhere}"></option>
                        <option value="wholeWord" th:text="#{searchWhole}"></option>
                        <option value="startsWith" th:text="#{searchStartsWith}"></option>
                        <option value="endsWith" th:text="#{searchEndsWith}"></option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" th:text="#{searchButton}"></button>
                    </span>
                </div>
                <span class="help-block" th:text="#{searchWordHelp}"></span>
            </div>
        </form>

        <form class="form-horizontal"
              action="#"
              th:action="@{/description-search}"
              method="GET">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           id="descriptionSearch"
                           name="expression"
                           th:placeholder="#{searchDescription}"
                           required="required"
                           autofocus="autofocus" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" th:text="#{searchButton}"></button>
                    </span>
                </div>
                <span class="help-block" th:text="#{searchDescriptionHelp}"></span>
            </div>
        </form>
    </div>
    <!-- /search form -->

    <!-- results -->
    <div class="list-group">
        <legend th:if="${searchMethod != null}" >
            <th:block th:switch="${searchMethod}">
                <span th:case="anywhere">
                    <span th:text="#{searchResultsFor}"></span>
                    <span th:text="'&quot;' + ${expression} + '&quot;' "></span>
                    <span th:text="'(' + #{searchAnywhere} + '):' "></span>
                </span>
                <span th:case="wholeWord">
                    <span th:text="#{searchResultsFor}"></span>
                    <span th:text="'&quot;' + ${expression} + '&quot;' "></span>
                    <span th:text="'(' + #{searchWhole} + '):' "></span>
                </span>
                <span th:case="startsWith">
                    <span th:text="#{searchResultsFor}"></span>
                    <span th:text="'&quot;' + ${expression} + '&quot;' "></span>
                    <span th:text="'(' + #{searchStartsWith} + '):' "></span>
                </span>
                <span th:case="endsWith">
                    <span th:text="#{searchResultsFor}"></span>
                    <span th:text="'&quot;' + ${expression} + '&quot;' "></span>
                    <span th:text="'(' + #{searchEndsWith} + '):' "></span>
                </span>
                <span th:case="description">
                    <span th:text="#{searchResultsFor}"></span>
                    <span th:text="'&quot;' + ${expression} + '&quot;' "></span>
                    <span th:text="'(' + #{searchDescription} + '):' "></span>
                </span>
            </th:block>
        </legend>

        <div class="list-group-item" th:if="${entries == null or entries.isEmpty()}">
            <h4 class="list-group-item-heading" th:text="#{searchNoResultTitle}"></h4>
            <p class="list-group-item-text" th:text="#{searchNoResultDescription}"></p>
        </div>

        <div class="list-group-item" th:each="entry : ${entries}">
            <h4 class="list-group-item-heading" >
                <span th:text="${entry.getWord()}" th:remove="tag">title</span>
                <small class="text-muted" th:title="#{ipaHovertext}" th:text="${'(' + entry.getIpa() + ')*'}"></small>
            </h4>
            <p class="list-group-item-text" th:text="${entry.getDescription()}"></p>
        </div>

        <a th:if="${resultLegend == null or resultLegend.isEmpty()}" class="pull-right" href="/" th:text="#{getAnotherRandomWord}"></a>
        <a th:if="${resultLegend != null}" class="pull-right" href="/" th:text="#{getARandomWord}"></a>
    </div>
    <!-- /results -->
</div>
<!-- /content -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>